body{
    width:55%;
    margin:0 auto;
}
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}
li {
    margin: 20px;
    float: left;
}
#u1 {
    width:100%;
    border:1px;
    background-color: #333333;
    list-style: none;
    float: left;
}
#a1 {
    font-family: 'NotoR';
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 1.25em;
    color: gray;
}
.s1 {
    padding-bottom: 50px;
    padding-left: 80px;
    margin-top: 100px;
    background-color: #F8F8F8;
    height: 10px;
    align-content: center;
}
#u2 {
    list-style: none;
}
#i1 {
    padding-left: 250px;
    width: 80%;
    margin: 0 auto;
}
#if1 {
    padding-left: 120px;
}
.clear{
    clear: both;
}
.cakeimage {
    margin-left: 320px;
}
.slothimage {
    margin-left: 340px;
}
.Cheetah {
    margin-left: 340px;
}
.youtubeimage{
    margin-left: 90px;
}
.handupimage{
    margin-left: 330px;
}
.rowingimage{
    margin-left: 320px;
}
.houseimage{
    margin-left: 320px;
}
.paperimage{
    margin-left: 320px;
}
.peopleimage {
    margin-left: 300px;
}
.underline {
    text-decoration: underline;
}
.blue-text {
    color: blue;
}
.doorimage {
    margin-left: 320px;
}
.if1 {
    margin-left: 60px;
}
.codingimage {
    margin-top: 600px;
    margin-left: 280px;
}